.logo-text {
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    font-family: -webkit-pictograph
}

.spacer {
    flex: 1 1 auto;
}

.fxRow {
    display: flex;
    flex-direction: row;
}

.fxAlignCenter {
    align-items: center;
}

.navbar-logo > span {
    margin-left: 5px;
}